 <!-- <div >
  <li *ngFor="let data of apidata">{{data.node_id}}</li>
  </div>  -->
  <!-- <div  class='wrap w-50' style="background: #000;" >
    <div class="card" *ngFor="let data of apidata">
      <div class="card-header" >
       <h4 >Login id {{data.title}}</h4>
        
      </div>
      <div class="card-body">
        <h5 class="card-title">{{data.price}}</h5>
        <p class="card-text">{{data.image}}</p>
        <img src="{{data.image}}" width="100" height="100">
         <a href="#" class="btn btn-primary">Go somewhere</a> 
      </div>
    </div>
  </div> -->

 <router-outlet></router-outlet> 